<div id="main-content" class="col-sm-9">
	<%= render @companies %>
</div><!-- main-content -->
<div class="container">
	<h6><%= @news.datetime %></h6>
	<h4><%= @news.headline %></h4>
	<h6><%= @news.summary %></h6>
  <div class="row">
		<p><%= @symbols %></p>
	</div>
</div>